<div class="container">
    <div class="row justify-contnet-center">
        <div class="col-md-9">
            <div *ngFor="let quote of quotes; let i = index">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Text</p>
                    </div>
                    <div class="card-footer">
            
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>