<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-9">
            <div *ngFor="let quote of quotes; let i = index">
                <div class="card">
                    <div class="card-body">
                        <div class="mb-3">
                            <div class="row align-items-center">
                                <div class="col ms-n2">
                                    <h4 class="mb-1">
                                        {{ quote.submitter }} added
                                    </h4>

                                    <p class="card-text small text-muted">
                                        <span class="fa fa-clock-o"></span> <time> {{ quote.time | createdAt }}
                                            ago</time>
                                    </p>

                                </div>
                            </div>
                        </div>

                        <p class="mb-3 text-muted">
                            {{ quote.quote }}
                        </p>
                        <span class="float-right small text-right"><em> By {{quote.author}}</em> </span>
                    </div>
                    <div class="card-footer">
                        <div class="row justify-items-between">
                            <div class="col-md-6">
                                <span class="badge bg-dark">upvotes: 0</span>
                                <span class="mx-3 badge bg-danger">downvotes: 0</span>
                            </div>
                            <div class="col-md-6">
                                <span>upvotes: 0</span>
                                <span class="ml-4">downvotes: 0</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>